@import './styles/leaflet.css';
@import './styles/element-plus.css';
@import './styles/layers-menu.css';

:root {
  --mapa-base-green: #42916e;
  --mapa-base-white: #ffffff;
  --mapa-base-black: #333333;
  --mapa-base-gray: #5b5b5b;
  --mapa-base-shadow: rgba(0, 0, 0, 0.05);
  --mapa-base-backdrop: rgba(108, 117, 125, 0.5);

  --mapa-base-radius-5: 5px;
  --mapa-base-radius-10: 10px;

  --mapa-fs-12: 0.75rem;
  --mapa-fs-15: 0.938rem;
  --mapa-fs-22: 1.375rem;

  --mapa-size-base-1: 1px;
  --mapa-size-base-2: 2px;
  --mapa-size-base-5: 5px;
  --mapa-size-base-8: 8px;
  --mapa-size-base-10: 10px;
  --mapa-size-base-15: 15px;
  --mapa-size-base-18: 18px;
  --mapa-size-base-20: 20px;
  --mapa-size-base-30: 32px;
  --mapa-size-base-35: 35px;
  --mapa-size-base-40: 40px;

  --mapa-base-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  --mapa-base-transition: all 0.3s ease-in-out;

  /* Menu sizes */

  --mapa-menu-small-width: 300px;
  --mapa-menu-medium-width: 400px;
  --mapa-menu-large-width: 600px;

  --mapa-parent-menu-small-width: 155px;
  --mapa-parent-menu-medium-width: 205px;
  --mapa-parent-menu-large-width: 305px;

  --mapa-child-menu-small-width: 185px;
  --mapa-child-menu-medium-width: 235px;
  --mapa-child-menu-large-width: 335px;
}
