@import 'leaflet/dist/leaflet.css';

.map-container {
  .leaflet-control-layers {
    border: var(--mapa-size-base-1) solid var(--mapa-base-white) !important;
    border-radius: var(--mapa-base-radius-10);
    background-color: var(--mapa-base-white);
  }

  .leaflet-control-layers-separator {
    display: none;
  }

  .leaflet-control-layers label {
    font-size: var(--mapa-fs-15);
    color: var(--mapa-base-black);
    padding: var(--mapa-size-base-5);
    cursor: pointer;
    margin-top: var(--mapa-size-base-2);
    margin-bottom: var(--mapa-size-base-2);
  }

  .leaflet-control-layers input[type='radio'] {
    accent-color: var(--mapa-base-green);
  }

  .leaflet-control-layers-overlays {
    display: none;
  }

  .leaflet-control-layers-toggle {
    background-image: url('../icons/layer-icon.svg');
    background-size: var(--mapa-size-base-18) var(--mapa-size-base-18);
    background-repeat: no-repeat;
    background-position: center;
    width: var(--mapa-size-base-30) !important;
    height: var(--mapa-size-base-30) !important;
  }

  /* zoom */

  .leaflet-control-zoom {
    border: none !important;
    background: transparent !important;
  }

  .leaflet-control-zoom a {
    width: var(--mapa-size-base-30) !important;
    height: var(--mapa-size-base-30) !important;
    font-size: var(--mapa-fs-22) !important;
    line-height: var(--mapa-size-base-35) !important;
    border: none !important;
    background-color: var(--mapa-base-white) !important;
    color: var(--mapa-base-gray);
  }

  .leaflet-control-zoom a:first-child {
    border-top-left-radius: var(--mapa-base-radius-10) !important;
    border-top-right-radius: var(--mapa-base-radius-10) !important;
  }

  .leaflet-control-zoom a:last-child {
    border-bottom-left-radius: var(--mapa-base-radius-10) !important;
    border-bottom-right-radius: var(--mapa-base-radius-10) !important;
  }

  .leaflet-control-zoom a:hover {
    background-color: var(--mapa-base-white) !important;
  }

  /* Geoman.io */

  .leaflet-pm-toolbar {
    border-radius: var(--mapa-base-radius-10);
    background-color: var(--mapa-base-white);
  }

  .leaflet-pm-toolbar .button-container {
    padding: var(--mapa-size-base-1);

    &:first-child a {
      border-top-right-radius: var(--mapa-base-radius-10);
      border-top-left-radius: var(--mapa-base-radius-10);
    }

    &:last-child a {
      border-bottom-right-radius: var(--mapa-base-radius-10);
      border-bottom-left-radius: var(--mapa-base-radius-10);
    }
  }
}
